*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.services {
    padding-top: 20px;
    text-align: center;
    font-family: cursive;
    color: #333;
}
.services .container {
    width: 1400px;
    margin: 0 auto;
}
.services .services-info {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.services .services-info .services-info__item {
    width: 30.3333%;
}
.services .services-info .services-info__item.second {
    margin-top: 10px;
}
.services .services-info .services-info__item.third {
    margin-top: -30px;
}
.services .services-info .services-info__item img {
    width: 30%;
}
.services .services-info .services-info__item .services-info__title {
    margin: 10px 0;
    padding-bottom: 25px ;
    border-bottom: 2px solid #B3DFDE;
}
.services .services-info .services-info__item .services-info__descr {
    margin-top: 20px;
    text-align: justify;
    text-align-last: center;
    color: #536872;
}
